<div class="jumbotron">
    <h1>XAM 410 - Data Caching and Synchronization</h1>
    <p class="lead">This web application exposes an API that can be used to connect to from a mobile application. It is designed to be used as part of the Xamarin University course. </p>
    <p><a href="http://university.xamarin.com" class="btn btn-primary btn-lg">Visit Xamarin University</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Working with SQLite and Mobile Data</h2>
        <p>This class is a pre-requisite for this class. It provides an introduction to using the SQLite database in mobile apps. 
        Covers using the native SQLite in iOS and Android, Managed SQLite in Windows Marketplace Apps, and the SQLite.Net ORM</p>
        <p><a class="btn btn-default" href="https://university.xamarin.com/classes/xam160-data-in-mobile">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cross Platform Web Services</h2>
        <p>Another recommended course prior to doing this class. This class examines how to integrate with and use web services in 
            mobile applications. It looks at both RESTful and SOAP-based web service integration, as well as recommendations for new web 
        service projects, and libraries to make web service access easier.</p>
        <p><a class="btn btn-default" href="https://university.xamarin.com/classes/xam150-cross-platform-web-services">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Backgrounding</h2>
        <p>Of course you can perform synchronization code within your app, but you will be able to leveredge it more if you can configure it to run as a background service.
           This course discusses how to perform background tasks on both iOS and Android, ensuring your apps remain responsive and can complete important operations even when they aren't visible to the user. </p>
        <p><a class="btn btn-default" href="https://university.xamarin.com/classes/xam210-backgrounding">Learn more &raquo;</a></p>
    </div>
</div>
